<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <title>SeichiGo</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/layout.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <th:block layout:fragment="css"></th:block>
</head>

<body>
  <!-- Header -->
  <div th:replace="~{fragments/header :: header}"></div>

  <!-- Content -->
  <div layout:fragment="content"></div>

  <!-- Footer -->
  <div th:replace="~{fragments/footer :: footer}"></div>

  <th:block layout:fragment="script"></th:block>
</body>
</html>
